<?xml version="1.0" encoding="utf-8"?>
  <configuration>
    <system.webServer>
     <defaultDocument enabled="true"> 
            <files>
                <add value="/index.html" /> 
            </files> 
      </defaultDocument> 
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </configuration>